.btn-style {
  border-color: #790c5a !important;
  color: #790c5a !important;
  background-color: white !important;
  font-family: "Roboto", sans-serif !important;
  font-style: normal;
  font-size: 20px !important;
  font-weight: 300;
  line-height: 25px;
  text-align: center !important;
  border-radius: 10px !important;
}

.colored-btn-style {
  background-color: #790c5a !important;
  color: #ffffff !important;
}
