.statement {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 123.19%;
}

.mission-statement {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 41px;
  font-style: normal;
}

.btn-color {
  border-color: #790c5a !important;
  color: #790c5a !important;
  background-color: white !important;
  font-family: "Roboto", sans-serif !important;
  font-style: normal;
  font-size: 25px !important;
  font-weight: 300;
}

.bottom-line {
  border-bottom: 3px solid #790c5a;
  width: 153px;
  margin-left: -2px;
}

.short-bottom-line {
  border-bottom: 3px solid #790c5a;
  width: 41px;
}

#event-header-text {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 36.96px;
}
