.header-banner {
  width: auto;
  height: 84vh;
  background-image: url("../../assets/images/homepagebanner.png");
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 123.19%;
  text-align: center;
  margin-top: 30%;
  width: 45rem;
}
